/* .home-photo {
  display : flex;

};  */
.grid-container {
  text-align: center;
  /* display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20 px;
  grid-column: 1 / -1; */
};

.about-container{
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20 px;
  grid-column: 1 / -1; 
};

.gri-item-1{
  grid-row: span 2;

}

.gri-item-2{
  grid-row: span 2;
}

.gri-item-1{
  grid-row: span 2;
} ;

.about-us-pic{

};

.about-us-bio{

}

















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
